<header class="flex border-b py-3 px-8 items-center justify-between">
  <div class="flex items-center">
    <mat-icon
      aria-hidden="false"
      aria-label="Logo"
      fontIcon="payment"
      class="mr-2"></mat-icon>
    <span class="cursor-pointer mb-0">Payment Manger</span>
  </div>
  <div class="flex items-center gap-8">
    <button
      routerLink="/dashboard"
      routerLinkActive="border-b border-blue-800 border-b-2"
      class="cursor-pointe flex items-center gap-2">
      <mat-icon
        aria-hidden="false"
        aria-label="Logo"
        fontIcon="list_alt"
        class="text-md"></mat-icon>
      Payments List
    </button>
    <button
      routerLink="/payment"
      routerLinkActive="border-b border-blue-800 border-b-2"
      class="cursor-pointer flex items-center gap-2">
      <mat-icon
        aria-hidden="false"
        aria-label="Logo"
        fontIcon="addchart"
        class="text-md"></mat-icon
      >Add Payment
    </button>
  </div>
  <div>&nbsp;</div>
</header>
